* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: rgb(234, 247, 244);
  background-position: 0dvh;
  text-align: center;
  margin: 0 auto;
}

.header {
  background-color: rgb(156, 184, 16);
  color: rgb(1, 10, 92);
  font-style: oblique;
  font-size: 7rem;
  padding: 10px 10px;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
}

#articles-list {
  width: 70%;
  margin: auto;
}

.article-card {
  background-color: rgb(204, 218, 19);
  font-size: small;
  width: 70%;
  height: auto;
  padding-top: 10px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  color: rgb(31, 9, 73);
}

#likes-and-comments {
  text-align: right;
  padding: 10px;
}

img {
  width: 20rem;
  height: 15rem;
}

#title {
  background-color: rgb(184, 64, 16);
  color: rgb(22, 6, 1);
  font-style: oblique;
  font-size: 3rem;
  padding: 10px 10px;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

#article-body {
  background-color: rgb(248, 245, 220);
  color: rgb(22, 6, 1);
  font-style: oblique;
  font-size: 2rem;
  text-align: justify;
  text-indent: 1cm;
  padding: 10px 10px;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.likes {
  text-align: right;
  width: 70%;
  padding: 10px;
  font-size: 1rem;
}

.comment-card {
  background-color: rgb(171, 223, 194);
  font-size: medium;
  width: 70%;
  height: auto;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: justify;
  color: rgb(31, 9, 73);
}
