* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: rgb(234, 247, 244);
  background-position: 0dvh;
  text-align: center;
  margin: 0 auto;
}

.header {
  background-color: rgb(156, 184, 16);
  color: rgb(1, 10, 92);
  font-style: oblique;
  font-size: 7rem;
  padding: 10px 10px;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
}

#articles-list {
  width: 70%;
  margin: auto;
}

.article-card {
  background-color: rgb(204, 218, 19);
  font-size: small;
  width: 70%;
  height: auto;
  padding-top: 10px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  color: rgb(31, 9, 73);
}

#likes-and-comments {
  text-align: right;
  padding: 10px;
}
