* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: rgb(234, 247, 244);
  background-position: 0dvh;
  text-align: center;
  margin: 0 auto;
}

.header {
  background-color: rgb(156, 184, 16);
  color: rgb(1, 10, 92);
  font-style: oblique;
  font-size: 7rem;
  padding: 10px 10px;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
}
